<html>
    <head>
        <title>
            Second Page
        </title>
        <link  rel="stylesheet" href="styles.css">
    </head>
    <body>

        <a href="/">FIRST PAGE</a>
        
        <h1>
            Select a country and enter a zip code
        </h1>

        <form action="/zip" method = "POST">
            <label for="country">Choose a country: </label>
            <select id="country" name="country">
                <option value="AU">Australia</option>
                <option value="BR">Brazil</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
                <option value="GB">Great Britain</option>
                <option value="JP">Japan</option>
                <option value="MX">Mexico</option>
                <option value="ES">Spain</option>
                <option value="US">United States</option>
            </select>
            
            <h2>
                Enter zip code:
            </h2>

            <input type = "number" min = "0" name = "zipinput" placeholder="input zip">
            
            <button formaction="/zip" type="submit">
                Submit
            </button>
        </form>
    </body>
</html>